/*-------------Common variables-------------*/
:root {
  --background-color: #2f303a;
  --logo-header-color: #000000;
  --main-title-color: #ffffff;
  --accent-text-color: #2196f3;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --addres-text-color: rgba(255, 255, 255, 0.6);
  --footer-logo-color: #ffffff;
  --button-main-color: #f5f4fa;
  --icon-main-color: #afb1b8;
}

/*-------------Reset styles-------------*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-------------General style-------------*/
body {
  font-family: Roboto, sans-serif;
  color: var(--first-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*-------------Header content-------------*/
.header {
  padding: 25px 0 25px 0;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo .logo-span {
  color: var(--accent-text-color);
}
.logo-black {
  color: var(--first-text-color);
  margin-right: 93px;
}

.logo-white {
  color: var(--main-title-color);
}

.header-list {
  display: flex;
}

.header-item:not(last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
}

.header-link.current-link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  left: 0;
  bottom: -32px;
  border-radius: 2px;
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
}

.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-text-color);
}

.header-contacts-icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

/*----------------Main content----------------*/
/*-------------Title content-------------*/
.hero {
  background-color: var(--background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/main-page/bg-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  padding: 200px 0 200px 0;
}

.hero-container {
  width: 700px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--main-title-color);
  text-align: center;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: 0;
  color: var(--main-title-color);
  background: var(--accent-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*-------------Features content-------------*/
.features-list {
  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 270px;
}

.features-icon-container {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-main-color);
}

.features-icon {
  width: 65px;
  height: 70px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 10px;
}

.sub-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

/*-------------Activity content-------------*/
.activity {
  padding-top: 0px;
}

.activity-list {
  display: flex;
  justify-content: space-between;
}

.activity-item {
  position: relative;
}

.activity-container-text {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

/*-------------Our team content-------------*/
.team {
  background: var(--button-main-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: #ffffff;
}

.team-title-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 15px;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-text-color);
  color: var(--main-title-color);
}

/*-------------Clients content-------------*/

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-item {
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-main-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.client-item:hover,
.client-item:focus {
  border-color: var(--accent-text-color);
}

.client-link:focus,
.client-link:hover {
  color: var(--accent-text-color);
}
/*-------------Footer content-------------*/
.footer {
  background: var(--background-color);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-logo-color);
}

.address-list {
  margin-top: 20px;
}

.address-item {
  margin-bottom: 10px;
}

.mailtel-link {
  color: var(--addres-text-color);
}

.footer-address {
  display: flex;
}

.footer-social-container {
  margin-left: 70px;
  padding-top: 12px;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.footer-social-link {
  background-color: #43444d;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-text-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--main-title-color);
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

/*-------------Portfolio-------------*/
/*-------------Filter content-------------*/
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item {
  margin-right: 10px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  height: 40px;
  background: var(--button-main-color);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background: var(--accent-text-color);
  color: var(--main-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.port-content {
  display: block;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-content:hover,
.port-content:focus {
  box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.port-content:hover .portfolio-container {
  transform: translateY(-100%);
}

.portfolio-img-container {
  position: relative;
  overflow: hidden;
}

.portfolio-container {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-title-color);

  padding: 63px 23px;
}

.all-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotateX(180deg);
  transform: translate(-50%, -50%);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(10) rotate(180deg);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}

.icon-close {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover,
.icon-close:focus {
  fill: var(--accent-text-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
}

.modal-input-container {
  margin-bottom: 10px;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-text-color);
}

.modal-input:focus + .icon-modal {
  fill: var(--accent-text-color);
}

.icon-modal {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--second-text-color);
}

.modal-textarea-container {
  margin-bottom: 20px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: var(--accent-text-color);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-wrap {
  position: relative;
}

.modal-checkbox-container {
  margin-bottom: 30px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-check {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

.icon-check {
  fill: var(--main-title-color);
}

.modal-check-policy {
  position: absolute;
  opacity: 0;
}

.modal-check-policy:checked + .check-text .custom-check {
  border: 0;
  background-color: var(--accent-text-color);
}
.modal-policy-link {
  color: var(--accent-text-color);
  padding-left: 2px;
}

.footer-mail-container {
  margin-left: 95px;
  padding-top: 12px;
}

.footer-mail-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.mail-container {
  display: flex;
  margin-top: 20px;
}

.mail-text {
  width: 360px;
  height: 50px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  background-color: var(--background-color);

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-text:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.button-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.icon-send {
  margin-left: 10px;
}
